/* Alapvető stílusok */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}

h2, p {
    text-align: center;
    
}
h3 {
    text-align: center;
    color:#0b6884;
}

/* Fejléc */
header {
    background-color: #0c222c;
    padding: 50px;
    position: relative;
}

.header-content {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    color: white;
    text-align: right;
}

#dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#dropdown-menu ul li {
    padding: 10px;
}

#dropdown-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.hidden {
    display: none;
}

/* Szekció stílusok */
section {
    padding: 100px;
    background-color: #1a7980;
}

/* Fotógaléria stílusok */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.gallery-item {
    flex: 1;
    margin: 10px;
}

.gallery-item img {
    width: 350px; /* Egységes képméret */
    height: 350px; /* Egységes képméret */
    object-fit: cover; /* A kép arányainak megőrzése */
    border-style: solid;
    border-color: #023D54;
    border-width: 3px;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.gallery-item a {
    text-decoration: none;
    color: #023D54; /* Link színe */
}

.gallery-item a:hover {
    text-decoration: underline;
    color: #03556F; /* Link színváltoztatás hover állapotban */
}
/* Képgaléria stílusok */
.gallery {
    display: flex;
    flex-direction: column; /* Oszlopos elrendezés a sorok számára */
    align-items: center; /* Középre igazítja a sorokat */
    margin-top: 20px; /* Térköz a galéria felett */
}

.gallery-row {
    display: flex; /* Soros elrendezés a képekhez */
    justify-content: center; /* Középre igazítja a képeket */
    margin-bottom: 20px; /* Térköz a sorok között */
}

.gallery-image {
    width: 540px; /* Kép szélessége */
    height: 780px; /* Kép magassága */
    object-fit: cover; /* Megőrzi a képarányokat */
    margin: 0 10px; /* Térköz a képek között */
    border-style: solid;
    border-color: #023D54;
    border-width: 3px;
}

/* Piramis elrendezés a harmadik sorhoz */
.pyramid-row {
    display: flex;
    justify-content: center;
}

.pyramid-image {
    margin: 0 5px; /* Térköz a képek között */
}

.pyramid-image:nth-child(2) {
    margin-left: 20px; /* Középső kép eltolása */
    margin-right: 20px; /* Középső kép eltolása */
}


/* Bemutatkozás szekció stílusok */
.bio-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center; /* Kép és szöveg középre igazítása */
    justify-content: center; /* Középre igazítás */
    margin: 0 auto; /* Középre igazítja a tartalmat */
    max-width: 800px; /* Max szélesség a szekcióhoz */
    position: relative; /* Pozicionáláshoz */
}

.bio-image {
    margin-right: 20px; /* Kép és szöveg közötti távolság */
    max-width: 40%; /* Kép maximális szélessége */
    height: auto; /* Arányok megőrzése */
    border-style:groove;
    border-color: #023D54;
    border-radius: 15px;
    border-width: 5px;
}

#bemutatkozas p {
    text-align: left; /* Szöveg balra igazítása */
}

/* Elérhetőség szekció */
#elerhetoseg {
    margin-top: 0px;
}

/* Instagram ikon stílus */
.instagram-icon {
    width: 20px; /* Az ikon szélessége */
    height: auto; /* Az arány megőrzése */
    vertical-align: middle; /* Igazítja az ikont a szöveggel */
    margin-right: 8px; /* Kicsit távol a szövegtől */
}

/* Instagram link stílus */
.instagram-link {
    text-decoration: none; /* Eltávolítja az aláhúzást */
    color: #151d21; /* A szöveg színe */
}

.instagram-link:hover {
    text-decoration: underline; /* Aláhúzás, amikor a hivatkozás fölé viszed az egeret */
}

/* Lábléc */
footer {
    background-color: #0c222c;
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
    flex-grow: 1;
}

#user-profile-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    color: white;
}

#new-user-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #023D54;
    color: white;
    border: none;
    cursor: pointer;
}

#new-user-btn:hover {
    background-color: #03556F;
}

/* Mobil nézet */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }
}
