/* Alapvető stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}

h2, p {
    text-align: center;
}

/* Fejléc */
header {
    background-color: #023D54;
    padding: 50px;
    position: relative;
}

.header-content {
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    text-align:right;
}

#dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#dropdown-menu ul li {
    padding: 10px;
}

#dropdown-menu ul li a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none;
}

/* Szekció stílusok */
section {
    padding: 20px;
    background-color: #94DEA5;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery a {
    flex: 1;
    margin: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

/* Lábléc */
footer {
    background-color: #012B3E;
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
    flex-grow: 1;
}

#user-profile-footer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    color: white;
}

#new-user-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #023D54;
    color: white;
    border: none;
    cursor: pointer;
}

#new-user-btn:hover {
    background-color: #03556F;
}

/* Mobil nézet */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }
}
